<!--

/*
 *
 * Copyright 2015 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

-->
<% var bg = Math.floor((Math.random() * 6) + 1); %>
<!DOCTYPE html>
<html>
<head>
  <title>BoringToAwesome - Admin</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
  <script src="javascripts/GoogleLogin-LoggedIn.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( ".datepicker" ).datepicker();
    } );
  </script>
  <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="shortcut icon" href="images/boaw.ico" />
  <meta name="google-signin-client_id" content="160617789504-s14adttjtr9uvaf27sb5nb64kdc5tmpc.apps.googleusercontent.com"></meta>

  <style type="text/css">
    body{  background: url(images/<%= bg %>.jpg) no-repeat fixed center; }
    .s{ height: <%= jumbotronheight %>px }
  </style>

</head>
<body>

<div class="container">
  <div id="authOps">
    <div class="jumbotron s a">
      <div class="col-md-12" style="min-height: 60px;">
        <div class="col-md-4">
          <div id="profileimg"></div>
          <div class="col-md-10" style="padding-left: 20px">
            <div id="profile"></div>
            <div id="profilemail"></div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <%= dateNow %> <br> <%= wochentag %>
        </div>
        <div class="col-md-4 text-right">
          <button id="signOut" onclick="auth2.signOut();location.href='/'">Sign Out</button>
          <br>
          <button id="disconnect" >Disconnect from this app</button>
        </div>
      </div>
      <br>
      <br>
      <hr class="hr">

      <div class="col-md-12">
        <div class="well">
          <h1 class="text-center">News-Feed</h1>

          <p style="text-align: center">Das Wetter in der kommenden Woche soll sehr sonnig sein und eignet sich sehr für Schwimmausflüge und Sportaktivitäten.</p>

        </div>
      </div>
<!--
      <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Projektwoche eintragen</h4>
            </div>
            <div class="modal-body">
              <p>Wollen Sie wirklich diese Woche eintragen? Falls eine Projektwoche schon eingetragen ist, wird diese ersetzt!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Nein, ich will meine alte Woche behalten</button>
              <button type="button" class="btn btn-primary">Ja, füge die Woche ein</button>
            </div>
          </div>
        </div>
      </div>
-->
      <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="text-center">Projektwoche</h1>
        </div>
          <div class="col-md-2">
            <a class="btn btn-primary" href="/admin-kurserstellen" style="margin-top: 40px">Kurs erstellen</a>
          </div><br>
        <div class="cold-md-12">
          <div class="col-md-1"></div>
          <div class="col-md-4" style="text-align: center">
            Anfangsdatum: <%= wocheVonBis.startDatum %>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4" style="text-align: center">
            Enddatum: <%= wocheVonBis.endDatum %>
          </div>
        </div>
        <form action="/admin/:woche" method="post">
          <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="text-align: center">
              <p>Anfangsdatum <br><input type="text" name="dateVon" class="datepicker"></p>
            </div>
            <div class="col-md-4" style="text-align: center">
              <p>Enddatum <br><input type="text" name="dateBis" class="datepicker"></p>
            </div>
          </div>
          <br>
          <div class="col-md-12">
          <!--
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Woche eintragen
            </button>
            -->
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center">
              <input class="btn btn-default" type="submit" value="Woche eintragen">
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align: center">
          <a class="btn btn-default" href="/admin/:deletewoche">Daten löschen</a>
        </div>
      <div class="col-md-12">
        <br>
        <h1 class="text-center">Angebotene Kurse</h1><br>
        <% for(var daten in angeboteneKurse){ %>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><%= angeboteneKurse[daten].kBezeichnung %></div>
            <div class="panel-body">
              <div class="text-center">
                <small><%= angeboteneKurse[daten].startdatum %> - <%= angeboteneKurse[daten].enddatum%></small>
                <br>
                <small><%= angeboteneKurse[daten].startzeit %> - <%= angeboteneKurse[daten].endzeit%></small>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

</div>
<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
</body>
</html>
